[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pyrogram = {extras = ["fast"],version = "*"}
python-dotenv = "*"
tgcrypto = "*"
tinydb = "*"

[requires]
python_version = "3"
